<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well">
      <div class="text-center">
      <h3 >Profile</h3>
          <br>
          <%= render 'shared/avatar', user: @user %>
          <br>
          <br>
          <h2><%= @user.name %></h2>
          <p><%= @user.about %></p>
      </div>
          <div class="row">
            Movies:<br>
            
            <% @user.movies.each do |m| %>
                <%= image_tag m.poster, size: "100x100", class: "img-thumbnail"  %>
            <% end %>
         </div>
    </div>
  </div>
</div>

