/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "variables";
@import "1st_load_framework";
@import "comments";
@import "follows";
@import "home";
@import "imdb_movies";
@import "likes";
@import "movies";
@import "posts";
@import "reviews";
@import "scaffolds";
@import "users";
@import "watched_movies";
@import "welcome";

.activity-comment, .activity-like, .comment, .like {
  .content {
    border: 1px solid #e0e0e0;
    margin-left: 75px;
    margin-right: 15px;
    padding: 5px 15px;
    .text {
      font-size: 1.5rem;
    }
  }
  }
